// Levels

$level-1 : green;
$level-2 : orange;
$level-3 : red;
$level-pirates : grey;

// States

$success : green;
$lose   : red;

// Card backgrounds
$bg_pirate_mission : #f5f5dc;
$bg_card_name : rgba(#FFFFFF, 0.7);