@import 'colors';
.game-info {
    .title-top {
        text-align: center;
    }
    #pirates-list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .pirates-list-elt {
            width: 50%;
        }
        padding-bottom: 20px;
    }
}

.nbCard-to-extend {
    width: 40px;
    border-radius: 5px;
    line-height: 60px;
    text-align: center;
    color: white;
}

.info-main {
    display: inline-block;
    width: 65%;
}

.info-main-content {
    width: 100%;
    padding:20px;
    // display: none;
    display: flex;
    justify-content: space-between;
    .info-main-elt {
        flex: 1;
        margin: auto;
        .info-main-value {
            margin: 0 auto;
        }
        .info-main-subject {
            text-align: center;
        }
    }
}

#level {
    color: white;
    width: 60px;
    border-radius: 5px;
    line-height: 60px;
    text-align: center;
}

.level-value-1 {
    color: $level-1;
}

.level-value-2 {
    color: $level-2;
}

.level-value-3 {
    color: $level-3;
}

.level-value-pirates {
    color: $level-pirates;
}

.level-icon{
    color: green;
}

.pv{
    .pv-value {
        position: absolute;
        top: 7px;
        text-align: center;
        width: 48px;
        line-height: 48px;
        font-size: 18px;
        font-weight: bold;
    }
}

#pv {
    width: 60px;
    line-height: 60px;
    text-align: center;
    margin: auto;
    color: white;
    background-image: url("../images/coeur.jpg");
    background-size: cover;
    /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
}

#nbFightCards {
    @extend .nbCard-to-extend;
    background-color: green;
}

#nbDangerCards {
    @extend .nbCard-to-extend;
    background-color: brown;
}

#nbAgingCards {
    @extend .nbCard-to-extend;
    background-color: black;
}