@import "cards";
@import "infos";

body{
    box-sizing: border-box;
    // background-color: rgba(black, 0.5) !important;
}

h1, .title-top{
  text-align: center;
}

.fight-card-power-used{
  outline: 1px solid lightskyblue;
}

.game-danger-choice{
  display: flex;
  flex-direction: column;

  .danger-choice-card-slots{
    display: flex;
    justify-content: center;

    margin-bottom: 25px;

    .card-slot{
      margin: 0 5%;
    }
  }

  .danger-choice-actions{
    display: flex;
    justify-content: space-around;
  }
}
