<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vendredi</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <!--<link rel="stylesheet" href="libs/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="libs/css/vue-material.css">
    <link rel="stylesheet" href="stylesheets/main.css">
</head>

<body>
    <!--[if lt IE 8]>
    <p class="browsehappy">
      You are using an <strong>outdated</strong> browser.
      Please <a href="http://browsehappy.com/">upgrade your browser</a>
      to improve your experience.
    </p><![endif]-->
    <div id="app">
        <md-toolbar>
            <div class="md-toolbar-container">
                <md-button class="md-icon-button">
                    <md-icon>menu</md-icon>
                </md-button>

                <h1 class="md-title" style="flex:1">Vendredi</h1>

                <!--<div id="nbFightCards" class="info-main-value" title="Fight cards">{{ game.fightDeck.length() }}</div>

                <div id="nbDangerCards" class='info-main-value' title="Danger cards">{{ game.dangerDeck.length() }}</div>
                
                <div id="nbAgingCards" title="Aging cards" class="info-main-value">{{ game.agingDeck.length() }}</div>
                -->
                <!--<md-icon class="md-size-2x">delete</md-icon>                -->

                <md-button class="md-icon-button">
                    <md-icon class="md-size-2x" :class="game.level < 3 ? 'level-value-' + (game.level + 1) : 'level-value-pirates'">flag</md-icon>
                </md-button>

                <div class="pv">
                    <md-icon class="md-size-2x md-accent">favorite</md-icon>
                    <div class="pv-value">{{game.robinson.PV}}</div>
                </div>
            </div>
            
        </md-toolbar>

        <game-info :game="game"></game-info>

        <hr>

        <md-layout md-flex="100" class="router">
            <game-over v-if="game.isGameOver()" :player-name="game.robinson.pseudo"></game-over>
            <div v-if="game.isWon()">C'est gagné !</div>

            <game-danger-choice v-if="( !game.fight && !game.isGameOver() && !game.isWon() )" :danger-choice="game.dangerChoiceCards" @chose="startFight"></game-danger-choice>

            <game-fight v-if="(game.fight && !game.isGameOver() && !game.isWon() )" :fight="game.fight" :next-three-cards="game.getThreeFisrtFightCards()" @stop="stopFight" @draw="addCardToFight" @fight-closed="endFightLost" @use-power="useMyPower" @use-two-step-power="useTwoStepPower"></game-fight>
        </md-layout>
        <!--<md-layout md-flex="100">            
            <game-save-manager @save="save" @load="load"></game-save-manager>
        </md-layout>-->
    </div>

    <!-- - - - - - - - -->
    <!--    Scripts    -->
    <!-- - - - - - - - -->
    <script src="libs/js/vue.js"></script>
    <script src="libs/js/vue-material.debug.js"></script>
    <script src="scripts/app.js"></script>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID.-->
    <!--<script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>-->

</body>

</html>