<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vendredi</title>
    <meta name="description" content="Gestionnaire de frigo basé sur une raspberry et un lecteur de code barre">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>

<body>
    <!--[if lt IE 8]>
    <p class="browsehappy">
      You are using an <strong>outdated</strong> browser.
      Please <a href="http://browsehappy.com/">upgrade your browser</a>
      to improve your experience.
    </p><![endif]-->

    <div class="container">
        <h1 class="title-top">Vendredi</h1>

        <hr>

        <div id="app">
            <game-info :game="game"></game-info>
            <hr>
            <game-danger-choice :danger-choice="game.dangerChoiceCards" v-if="!game.fight" @chose="startFight"></game-danger-choice>
            <game-fight :fight="game.fight" v-if="game.fight"></game-fight>
        </div>


        <!--<template id="test" v-on:loseOnePV="losePV">
            <button @click="loseOnePV">LosePV</button>
        </template>-->

        <template id="zone-info">
            <div class="game-info">
                <div class="info-main">
                    <div class="info-main-pv info-main-elt" id="pv">
                        <div class="info-main-value">{{ PV }}</div>
                    </div>
                    <div class="info-main-fight-cards info-main-elt">
                        <div id="nbFightCards" class="info-main-value">{{ nbFightCardsInDeck }}</div>
                        <div class="info-main-subject">Fight cards</div>
                    </div>
                    <div class="info-main-danger-cards info-main-elt">
                        <div id="nbDangerCards" class='info-main-value'>{{ nbDangerCardsInDeck }}</div>
                        <div class="info-main-subject">Danger cards</div>
                    </div>
                    <div class="info-main-aging-cards info-main-elt">
                        <div id="nbAgingCards" class="info-main-value">{{ nbAgingCardsInDeck }}</div>
                        <div class="info-main-subject">Aging cards</div>
                    </div>
                    <div class="info-main-level info-main-elt">
                        <div id="level" class="info-main-value">{{ level }}</div>
                        <div class="info-main-subject">Level</div>
                    </div>
                </div>
                <div id="pirates-list" v-for="pirate in game.pirates">
                    <pirate-card :pirate="pirate"></pirate-card>
                </div>
            </div>
        </template>

        <template id="game-danger-choice">
            <div class="game-danger-choice" id="zone-danger-choice">
                <div class="danger-choice-card-slots" id="danger-choice-card-slots">
                    <div v-for="(danger, index) in dangerChoice">
                        <danger-card :danger="danger" :selected="index === currentSelected ? true : false" @select="changeSelectedIndex(index)"></danger-card>
                    </div>
                </div>

                <div class="danger-choice-actions">
                    <button id="btn-action-chose-danger" @click="chose">Choisir !</button>
                </div>
            </div>
        </template>

        <template id="danger-card">
            <div class="card-slot card-danger" :class="selected === true ? 'danger-card-selected' : '' " @click="select">
                <!-- danger definition -->
                <div class="danger-card-definition">
                    <div class="card-danger-name">{{danger.name}}</div>
                    <div class="card-danger-details">
                        <div class="card-danger-freecards">{{danger.freeCards}}</div>
                        <div class="card-danger-strength">
                            <div class="card-danger-strength-lvl card-danger-strength-3">{{danger.getStrength(3)}}</div>
                            <div class="card-danger-strength-lvl card-danger-strength-2">{{danger.getStrength(2)}}</div>
                            <div class="card-danger-strength-lvl card-danger-strength-1">{{danger.getStrength(1)}}</div>
                        </div>
                    </div>
                </div>

                <div class="bambou-separation"></div>
                <!-- fight definition -->
                <div class="card-danger-fight-definition">
                    <div class="card-danger-fight-main-info">
                        <div class="card-danger-fight-strength">{{danger.fightCard.strength}}</div>
                        <div class="card-danger-fight-name">{{danger.fightCard.name}}</div>
                        <div class="card-danger-fight-destroycost">{{danger.fightCard.costToDelete}}</div>
                    </div>
                    <div class="card-danger-fight-power">{{danger.fightCard.power ? danger.powerName() : '...'}}</div>
                </div>
            </div>
        </template>

        <template id="pirate-card">
            <div class="pirate-card">
				<div class="pirate-card-info-zone">
					<div class="pirate-card-nbFreeCards">{{pirate.freeCards ? pirate.freeCards : '*'}}</div>
					<div class="pirate-card-name">{{pirate.name}}</div>
					<div class="pirate-card-strength">{{pirate.strength ? pirate.strength : '*'}}</div>
				</div>
				<div class="pirate-card-mission">{{pirate.mission ? pirate.missionName() : '...'}}</div>
			</div>
        </template>

        <template id="game-fight">
            <div class="game-fight-danger" id="zone-fight-danger">
                <div class="fight-danger-card-to-fight" id="danger-card-to-fight">
                    <danger-card :danger="cardToFight"></danger-card>                    
                </div>
                <div class="fight-player-interface">
                    <div class="fight-danger-fight-cards" v-for="(card, index) in fightCardPlayed">
                        {{index}}
                        <div class="fight-cards-elt"></div>

                    </div>

                    <div class="fight-result-info-and-actions">
                        <div class="fight-danger-infos">
                            <span id="fight-danger-temporary-result">{{result}}</span>
                        </div>

                        <div class="fight-danger-actions">
                            <button class="fight-danger-action" id="btn-pick-fight-card">Piocher</button>
                            <button class="fight-danger-action" id="btn-stop-fight">Stop</button>
                            <button class="fight-danger-action" id="btn-delete-fight-cards">Delete Card(s)</button>
                            <button class="fight-danger-action" id="btn-dont-delete-fight-cards">Keep them</button>
                        </div>
                    </div>

                    <div class="fight-danger-fight-cards-used">
                        <div class="fight-cards-elt"></div>
                    </div>
                </div>
            </div>
        </template>
        <!-- <div class="game-fight-pirate " id="zone-fight-pirate "></div>-->

        <!-- - - - - - - - -->
        <!--    Scripts    -->
        <!-- - - - - - - - -->
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js "></script>-->
        <!--<script src="lib/watch.min.js "></script>-->
        <script src="https://unpkg.com/vue/dist/vue.js "></script>
        <script src="scripts/app.js "></script>
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID.-->
        <!--<script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>-->

</body>

</html>